<head>
  <title>Main page</title>
</head>
<body>
<div>
    <img src="" alt="" width="40" height="40">
    <span>Olá, [nome]!</span>
  </div>
  <div>
    <h3>O que você quer acessar hoje?</h3>
  </div>
  <div>
    <img src="" alt="" width="60" height="60" style="padding: 10px;">
    <img src="" alt="" width="60" height="60" style="padding: 10px;">
    <img src="" alt="" width="60" height="60" style="padding: 10px;">
  </div>
  <div>
    <h3 for="opcoes">Suas aferições de:</h3>
    <select name="opcoes" id="opcoes">
        <option value="pressao">Pressão</option>
        <option value="saturacao">Saturação</option>
      </select>
  </div>
  <div>
    <img src="" alt="" width="200" height="60">
  </div>
  <div>
    <p>Sua próxima medicação:</p>
    <div>
      <h2>8:00</h2>
      <p>Levotiroxina</p>
      <p>88mg</p>
      <p>Com água</p>
    </div>
  </div>
  <div>
    <ul>
      <li>Criar horário</li>
      <li>Salvar aferição</li>
      <li>Configurações</li>
      <a href="/singnin">Sair</a>
    </ul>
  </div>
</body>