<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <div>
    <img src="" alt="" width="60" height="60">
    <h3>Que bom te ver de novo.</h3>
    </div>
    <form>
      <label for="email">E-mail*</label>
      <input type="email" id="email" name="email" required><br><br>
      <label for="Senha">Senha*</label>
      <input type="Senha" id="Senha" name="Senha" required><br><br>
      <a href="/forgotpassword">Esqueci minha senha</a><br><br>
      <input type="submit" value="Entrar"><br><br>
      <a href="/singnup">Cadastrar.</a>
    </form>
  </body>
</html>

